<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div id="alertok" style="hidden">
  <div class="alert alert-success d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      ¡Compra efectuada correctamente!
    </div>
  </div>
</div>

<div id="alerterror" style="hidden">
  <div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      ¡Se produjo un error al procesar su compra!
    </div>
  </div>
</div>

<div class="container">
  <br>

  <div class="row align-items-center border border-success bg-success rounded">
    <div class="col-12">
      <div class="mt-3"></div>
      <h3 style="text-align: center; color:white"><strong>Mi Carrito</strong></h5>
      <div class="mb-3"></div>
    </div>
  </div>
  <br>

  <div class="row align-items-center border border-success rounded">
    <div class="col-12">
      <h3 style="text-align: center;">Datos de Usuario</h3>
      <div class="row">
        <div class="col-6">
          <ul>
            <li><strong>Email: </strong>{{data.user.username}}</li>
            <li><strong>Nombre: </strong>{{data.user.name}}</li>
            <li><strong>Edad: </strong>{{data.user.age}}</li>
            <li><strong>Direccion: </strong>{{data.user.address}}</li>
            <li><strong>Telefono: </strong>{{data.user.phone}}</li>
          </ul>  
        </div>
        <div class="col-6">
          <div class="image">
            <img id="picprofile" src={{data.user.photo}} style="width: 150px; border:1px" class="float-end">
          </div>
        </div>
      </div>
    </div>
     <span class="mt-2"></span>
  </div>
  <br>
  <div class="row align-items-center border border-success rounded">
    <div class="col-12">
      <h3 style="text-align: center;">Productos agregados al Carrito</h3>
      <br>

      <div class="overlay" id="spinner">
        <div class="d-flex justify-content-center">  
          <div class="spinner-grow text-success" role="status" style="width: 10rem; height: 10rem; z-index: 20;">
          </div>
        </div>
      </div>

      <div id="carritoproduct">
        <div class="row row-cols-1 row-cols-md-5 g-4">
          {{#if data.listExists}}
          
          {{#each data.productos}}
            <div class="col d-flex align-items-stretch" id={{this.idInCart}}>
              <div class="card w-100">
                <div class="card-header" style="background-color: #019e5d;">
                  <h5 style="text-align: center; color:white"><strong>{{this.nombre}}</strong></h5>
                </div>
                <img src={{this.foto}} style="center-block;width: 200px;" class="card-img-top" alt={{this.nombre}}>
                <div class="card-body d-flex flex-column">          
                  <p class="card-text">{{this.descripcion}}</p>
                  <ul>
                    <li><strong>Precio: </strong>${{this.precio}}</li>     
                  </ul>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto">
                      <button type="button" onclick="deleteProducto(this)" class="btn btn-danger btn-sm mt-2" id="{{this.idInCart}}">Eliminar</button>
                  </div>
                </div>
              </div>
            </div>
          {{/each}} 

          {{else}}
            <div class="card-body mt-5 d-flex align-items-center justify-content-center">
              Carrito Vacio
            </div>
          {{/if}}
        </div>
      </div>

    </div>
    <span class="mt-2"></span>
  </div>
  <br>
  <div class="row align-items-center border border-success rounded">
    <div class="col-12">
      <div class="d-grid gap-4 d-md-flex justify-content-md-center mb-2">
          <button type="button" id="btnProducts" onclick="goShopping(this)" class="btn btn-success mt-2">Ver mas productos</button>
          {{#if data.listExists}}
            <button type="button" id="btnBuy" onclick="buy(this)" class="btn btn-success mt-2">Finalizar Compra</button>
          {{/if}}
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
