{{#if listExists}}
<table class="table mt-5">
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Codigo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Foto</th>
    </tr>

    {{#each productos}}
        <tr class="align-middle">
            <td>{{this.nombre}}</td>
            <td>{{this.descripcion}}</td>
            <td>{{this.codigo}}</td>
            <td>{{this.precio}}</td>
            <td>{{this.stock}}</td>
            <td><img style="width:50px;height:50px;" src="{{this.foto}}"></td>
        </tr>    
    {{/each}}  

{{else}}
  <div class="card-body mt-5 bg-info bg-gradient d-flex align-items-center justify-content-center">
    No se ha ingresado ningun producto
  </div>
{{/if}}
</table>

