
<br>
<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col d-flex align-items-stretch">
      <div class="card">
        <div class="card-header" style="background-color: #1059b8;">
          <h5 style="text-align: center; color:white"><strong>Nuevo Producto</strong></h5>
        </div>
        <img src="https://cdn0.iconfinder.com/data/icons/basic-e-commerce-line-color/48/Package_box_add-256.png" style="img-responsive;center-block" class="card-img-top" alt={{this.nombre}}>
        <div class="card-body">          
          <p class="card-text">Ingresar nuevo producto al inventario...</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
              <button type="button" onclick="newProduct(this)" class="btn btn-primary btn-sm mt-auto">Insertar</button>
          </div>
        </div>
      </div>
    </div>
  {{#if listExists}}
  
  {{#each productos}}
    <div class="col d-flex align-items-stretch">
      <div class="card w-100">
        <div class="card-header" style="background-color: #019e5d;">
          <h5 style="text-align: center; color:white"><strong>{{this.nombre}}</strong></h5>
        </div>
        <img src={{this.foto}} style="img-responsive;center-block" class="card-img-top" alt={{this.nombre}}>
        <div class="card-body d-flex flex-column">          
          <p class="card-text">{{this.descripcion}}</p>
          <ul>
            <li><strong>Categoria: </strong>{{this.categoria}}</li>
            <li><strong>Precio: </strong>${{this.precio}}</li>
            <li><strong>Codigo: </strong>{{this.codigo}}</li>
            <li><strong>Stock: </strong>{{this.stock}}</li>            
          </ul>
          <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-auto">
              <button type="button" onclick="editProducto(this)" class="btn btn-success btn-sm mt-2" id="{{this.id}}">Actualizar</button>
              <button type="button" onclick="deleteProducto(this)" class="btn btn-danger btn-sm mt-2" id="{{this.id}}">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  {{/each}} 


  {{else}}
    <div class="card-body mt-5 d-flex align-items-center justify-content-center">
      No se ha ingresado ningun producto
    </div>
  {{/if}}
</div>
<br>

