<div class="container">
  <br>

  <div class="row align-items-center border border-success rounded">
    <div class="col-12">
        <h2 style="text-align: center;">Informacion del Sistema</h2>

        <table class="table mt-5">
            <tr>
                <th>Parametro</th>
                <th>Valor</th>
            </tr>
            <tr class="align-middle">
                <td>Argumentos</td>
                <td>{{info.args}}</td>
            </tr>
            <tr class="align-middle">
                <td>Plataforma</td>
                <td>{{info.platform}}</td>
            </tr>
            <tr class="align-middle">
                <td>NodeJS Version</td>
                <td>{{info.version}}</td>
            </tr>
            <tr class="align-middle">
                <td>Memoria</td>
                <td>{{info.memUsage.rss}}</td>
            </tr>  
            <tr class="align-middle">
                <td>Path Ejecucion</td>
                <td>{{info.path}}</td>
            </tr>  
            <tr class="align-middle">
                <td>Process ID</td>
                <td>{{info.pid}}</td>
            </tr>
            <tr class="align-middle">
                <td>Working Directory</td>
                <td>{{info.cwd}}</td>
            </tr>
        </table>

    </div>
    <span class="mt-2"></span>
  </div>

</div>